:root {
    --primary-color: #AAE1FF;
    --secondary-color: #003E80;
    --tertiary-color: #FAFAFF;
    --fourth-color: #F0F0F0;
}

body {
    background-color: var(--tertiary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)
}

.bg-tertiary-color{
    background-color: var(--tertiary-color)
}

.bg-fourth-color{
    background-color: var(--fourth-color)
}

/* Navbar */
.custom-nav{
    --bs-navbar-toggler-border-color: var(--primary-color);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 127, 27, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-radius: 5rem;
    --bs-border-width: 2px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
}